<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-wide" dir="ltr" data-theme="theme-default" data-assets-path="../../assets/" data-template="front-pages" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Hotel List</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/travelwings-logo.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />
    <link rel="stylesheet" href="../../assets/vendor/css/pages/front-page.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/rateyo/rateyo.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/@form-validation/form-validation.css" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/pages/wizard-ex-checkout.css" />
    <!-- font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>
    <!-- Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <script src="../../assets/vendor/js/template-customizer.js"></script>
    <!-- Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
    <script src="../../assets/js/front-config.js"></script>
</head>
<body>
    <script src="../../assets/vendor/js/dropdown-hover.js"></script>
    <script src="../../assets/vendor/js/mega-dropdown.js"></script>
    <!-- Main Content -->
    <div class="bs-stepper-content border-top container mt-5">
        <!-- Hotel List -->
        <h5>Hotel List</h5>
        <ul class="list-group mb-3">
            <li class="list-group-item p-4" th:each="hotel : ${hotelList}">
                <div class="d-flex gap-3">
                    <div class="flex-shrink-0 d-flex align-items-center">
                        <img src="/images/hotel.jpg" alt="google home" class="w-px-100" />
                    </div>
                    <div class="flex-grow-1">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- Hotel Name -->
                                <p class="me-3">
                                    <a href="javascript:void(0)" th:text="${hotel.hotelName}">Hotel Name</a>
                                </p>
                                <!-- Hotel Address -->
                                <div class="text-muted mb-2 d-flex flex-wrap">
                                    <span><i class="fa-solid fa-location-dot mt-1 mr-2 text-danger"></i></span>
                                    <a href="javascript:void(0)" class="me-3" th:text="${hotel.hotelAddress}" style="margin-left: 5px;"></a>
                                    <span class="badge bg-label-success" th:text="${hotel.hotelCity}"></span>
                                </div>
                                <!-- Rating -->
                                <h6 class="align-items-center justify-content-center gap-1 mb-1 mt-1">
                                    <span  style="font-size: 1.125rem; vertical-align: middle;" th:text="${hotel.hotelRating}"></span>
                                    <span class="text-warning"><i class="bx bxs-star me-1"></i></span>
                                </h6>
                                <!-- Facilities -->
                                <div>
                                    <h5>FACILITIES</h5>
                                    <ul class="p-0">
                                        <!-- Iterate over each facility -->
                                        <li th:each="facility : ${hotel.hotelFacility}" class="d-inline-block" style="margin-right: 5px;">
                                            <!-- Square box with icon inside -->
                                            <div class="border rounded p-1">
                                                <i th:if="${facility == 'Free Wi-Fi'}" class="fas fa-wifi"></i>
                                                <i th:if="${facility == 'Swimming Pool'}" class="fas fa-swimming-pool"></i>
                                                <i th:if="${facility == 'Gym'}" class="fas fa-dumbbell"></i>
                                                <i th:if="${facility == 'Luggage Storage'}" class="fas fa-suitcase"></i>
                                                <i th:if="${facility == 'Room Service'}" class="fas fa-concierge-bell"></i>
                                                <i th:if="${facility == 'Bar'}" class="fas fa-glass-martini-alt"></i>
                                                <i th:if="${facility == 'Spa'}" class="fas fa-spa"></i>
                                                <i th:if="${facility == 'Restaurant'}" class="fas fa-utensils"></i>
                                                <i th:if="${facility == 'Parking'}" class="fas fa-parking"></i>
                                                <i th:if="${facility == 'Car Rental'}" class="fas fa-car"></i>
                                                <i th:if="${facility == 'Coffee'}" class="fas fa-coffee"></i>
                                                <!-- Add more conditions for other facilities as needed -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-md-end">
                                    <div class="my-2 my-md-4 mb-md-5">
                                        <span class="text-primary">$</span>
                                        <span class="text-primary" th:text="${hotel.roomPrice}">/</span>
                                        <s class="text-muted">$359</s>
                                    </div>
                                    <!-- Form for selecting room -->
                                    <form th:action="@{/hotelList/{hotelId}(hotelId=${hotel.hotelId})}" method="post">
                                        <button type="submit" class="btn btn-sm btn-label-danger mt-md-3">SELECT ROOM</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Core JS -->
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="../../assets/vendor/libs/rateyo/rateyo.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="../../assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <!-- Main JS -->
    <script src="../../assets/js/front-main.js"></script>
    <!-- Page JS -->
    <script src="../../assets/js/modal-add-new-address.js"></script>
    <script src="../../assets/js/wizard-ex-checkout.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" th:src="@{/customJs/hotelDataList.js}"></script>
</body>
</html>
