<!doctype html>

<html lang="en"
	class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
	dir="ltr" data-theme="theme-default" data-assets-path="../../assets/"
	data-template="vertical-menu-template"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>Hotel Details</title>

<meta name="description" content="" />


<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	href="../../assets/img/favicon/travelwings-logo.ico" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Icons -->
<link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css" />
<link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" />
<link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" />

<!-- Core CSS -->
<link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css"
	class="template-customizer-core-css" />
<link rel="stylesheet"
	href="../../assets/vendor/css/rtl/theme-default.css"
	class="template-customizer-theme-css" />
<link rel="stylesheet" href="../../assets/css/demo.css" />
<link rel="stylesheet"
	href="../../assets/vendor/css/pages/front-page.css" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="../../assets/vendor/libs/select2/select2.css" />
<link rel="stylesheet"
	href="../../assets/vendor/libs/bs-stepper/bs-stepper.css" />
<link rel="stylesheet" href="../../assets/vendor/libs/rateyo/rateyo.css" />
<link rel="stylesheet"
	href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../assets/vendor/libs/typeahead-js/typeahead.css" />
<link rel="stylesheet"
	href="../../assets/vendor/libs/apex-charts/apex-charts.css" />
<link rel="stylesheet"
	href="../../assets/vendor/libs/@form-validation/form-validation.css" />

<link rel="stylesheet" href="../../assets/vendor/libs/swiper/swiper.css" />

<!-- Page CSS -->
<link rel="stylesheet"
	href="../../assets/vendor/css/pages/ui-carousel.css" />
<link rel="stylesheet"
	href="../../assets/vendor/css/pages/wizard-ex-checkout.css" />

<!-- font-awsome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- custom css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">


<!-- Helpers -->
<script src="../../assets/vendor/js/helpers.js"></script>
<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script src="../../assets/vendor/js/template-customizer.js"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="../../assets/js/config.js"></script>

</head>

<body>


	<!-- Upcoming Webinar -->
	<div class="col-md-6 col-xl-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="rounded-3 text-center mb-3 pt-2">

					<div class="swiper" id="swiper-with-arrows">
						<div class="swiper-wrapper" style="height: 340px;">
							<div class="swiper-slide"
								style="background-image: url(/images/TajHotel1.jpg)"></div>
							<div class="swiper-slide"
								style="background-image: url(/images/TajHotel2.jpg)"></div>
							<div class="swiper-slide"
								style="background-image: url(/images/TajHotel3.jpg)"></div>
							<div class="swiper-slide"
								style="background-image: url(/images/TajHotel4.jpg)"></div>
							<div class="swiper-slide"
								style="background-image: url(/images/TajHotel5.jpg)"></div>
						</div>
						<div class="swiper-button-next swiper-button-white custom-icon"></div>
						<div class="swiper-button-prev swiper-button-white custom-icon"></div>
					</div>

				</div>
				<h4 class="mb-2 pb-1" th:text="${selectedHotel.hotelName}">Hotel Name</h4>
				<p class="small" th:text="${selectedHotel.highlight}"></p>

				<!-- Hotel Address -->
				<div class="text-muted mb-2 d-flex flex-wrap">
					<span style="margin-right: 5px;"><i
						class="fa-solid fa-location-dot mt-1 mr-2 text-danger"></i></span>
					<span th:text="${selectedHotel.hotelAddress}"></span> <a href="javascript:void(0)" class="me-3"
						style="margin-left: 5px;"></a> <span
						class="badge bg-label-success" th:text="${selectedHotel.hotelCity}"> city</span>
				</div>

				<div class="row mb-3 g-3">
					<div class="col-6">
						<div class="d-flex">

							<div>
								<span style="font-weight: bold;">Price : </span>
								<span class="text-primary">$</span> <span class="text-primary" th:text="${selectedHotel.roomPrice}">/</span>
								<s class="text-muted">$359</s>
							</div>

						</div>
					</div>
					<div class="col-6">
						<div class="d-flex">

							<!-- Rating -->
							<h6
								class="align-items-center justify-content-center gap-1 mb-1 mt-1"
								style="padding-left: 40px;">
								<span style="font-size: 1.125rem; vertical-align: middle;"  th:text="${selectedHotel.hotelRating}"></span>
								<span class="text-warning"><i class="bx bxs-star me-1"></i></span>
							</h6>

						</div>
					</div>
				</div>






				<div class="row mb-3 g-3">
					<div class="col-6">
						<div class="d-flex">
							<div class="avatar flex-shrink-0 me-2">
								<span class="avatar-initial rounded bg-label-primary"><i
									class="bx bx-calendar-exclamation bx-sm"></i></span>
							</div>
							<div>
								<h6 class="mb-0 text-nowrap" th:text="${hotelSearch.fromDate}"></h6>
								<small>Check-In</small>
							</div>

						</div>
					</div>
					<div class="col-6">
						<div class="d-flex">
							<div class="avatar flex-shrink-0 me-2">
								<span class="avatar-initial rounded bg-label-primary"><i
									class="bx bx-calendar-exclamation bx-sm"></i></span>
							</div>
							<div>
								<h6 class="mb-0 text-nowrap" th:text="${hotelSearch.toDate}"></h6>
								<small>Check-Out</small>
							</div> 
						</div>
					</div>
				</div>
				<!-- ------------------------------------------------------------------- -->
				<div class="row mb-3 g-3">
					<div class="col-6">
						<div class="d-flex">
							<div class="avatar flex-shrink-0 me-2">
								<span class="avatar-initial rounded bg-label-primary"><i
									class="bx bx-walk bx-sm"></i></span>
							</div>
							<div>
								<h6 class="mb-0 text-nowrap" th:text="${hotelSearch.selectedTraveler}"></h6>
								<small>Guest</small>
							</div>

						</div>
					</div>
					<div class="col-6">
						<div class="d-flex">
							<div class="avatar flex-shrink-0 me-2">
								<span class="avatar-initial rounded bg-label-primary"><i
									class='bx bxs-bed bx-sm'></i></span>
							</div>
							<div>
								<h6 class="mb-0 text-nowrap" th:text="${hotelSearch.numberOfRooms}"></h6>
								<small>room</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 text-center">
					<a href="javascript:void(0);" class="btn btn-warning w-100 d-grid">BOOK
						NOW</a>
				</div>
			</div>
		</div>
	</div>
	<!--/ Upcoming Webinar -->



	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->

	<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
	<script src="../../assets/vendor/libs/popper/popper.js"></script>
	<script src="../../assets/vendor/js/bootstrap.js"></script>
	<script
		src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="../../assets/vendor/libs/select2/select2.js"></script>
	<script src="../../assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
	<script src="../../assets/vendor/libs/rateyo/rateyo.js"></script>
	<script src="../../assets/vendor/libs/hammer/hammer.js"></script>
	<script src="../../assets/vendor/libs/i18n/i18n.js"></script>
	<script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
	<script src="../../assets/vendor/js/menu.js"></script>

	<!-- endbuild -->

	<!-- Vendors JS -->
	<script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
	<script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
	<script src="../../assets/vendor/libs/apex-charts/apexcharts.js"></script>
	<script src="../../assets/vendor/libs/@form-validation/popular.js"></script>
	<script src="../../assets/vendor/libs/@form-validation/bootstrap5.js"></script>
	<script src="../../assets/vendor/libs/@form-validation/auto-focus.js"></script>
	<script src="../../assets/vendor/libs/swiper/swiper.js"></script>

	<!-- Main JS -->
	<script src="../../assets/js/main.js"></script>
	<script src="../../assets/js/front-main.js"></script>

	<!-- Page JS -->
	<script src="../../assets/js/cards-advance.js"></script>
	<script src="../../assets/js/modal-add-new-cc.js"></script>
	<script src="../../assets/js/ui-carousel.js"></script>
	<script src="../../assets/js/modal-add-new-address.js"></script>
	<script src="../../assets/js/wizard-ex-checkout.js"></script>
</body>
</html>
